.card-custom {
    border: none; 
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
    max-height: 30%;
 
}
@media (max-width: 1700px) and (min-width:600px) {
.card-body{
    min-height:22vh;
}}

.card-custom:hover {
    transform: translateY(-5px); 
}

.prezzo {
    text-align: center;
}
.btn-carrello-card{
    width: 45px;
    border-radius: 35%;
    padding:10px;
    background-color: whitesmoke;
    touch-action: manipulation;
    border: 0px solid black;
   align-items: center;
    box-shadow: rgba(0, 0, 0, .12) 0 1px 3px, rgba(0, 0, 0, .14) 0 1px .5px, rgba(182, 229, 255, .4) 0 1px .5px inset, rgba(0, 0, 0, 0.46) 0 -1px .5px inset, #000000 0 0 0 .5px inset;
    color: black;
    outline: 3px #fff;
    outline-offset: 0;
    
   
    font-size: 20px;
    line-height: 100%;
  
   
    transition-property: outline-offset, border-color, transform;
    transition-duration: .2s;
  }
  .btn-carrello-card:active,.btn-carrello-card :hover {
    outline: 0;
  }
  
  .btn-carrello-card:hover {
    background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(50%, #d1d1d1), color-stop(50%, #c4c4c4), color-stop(100%, #b8b8b8));
    background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    background-image: -moz-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    background-image: -ms-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    background-image: -o-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    background-image: linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
  
   
    transform: scale(1.04);
  }
  
  .btn-carrello-card:active {
    -webkit-box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 rgba(255, 255, 255, .1);
  -moz-box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 rgba(255, 255, 255, .1);
 
  
  
    transform: scale(.98);
  }
   

.form-select {
    width: 100px;
}
.btn-carrello-card-details{
    width:200px;
    height: 50px;
    background-color: #198754;
    border-radius: 50px;
    color:white;
    margin-top: 100px;
    

}
.img-card-details{
    width:100%;
    height:100%;
   
}
.containerCentrale{
  height: 130vh;
}
@media (max-width: 767px) {
.containerCentrales{
 

    background-color: white;
    background-size: cover;
    background-position: center;
    
    height:100%;
}}
@media (min-width: 768px) and (max-width: 4000px) {
  .containerCentrales {
    height: 100vh;
  }
}