

.Bottone {
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    top: 35%; 
    right: 10%; 
    z-index: 10; 
    width:400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; 
    border-radius: 5px; 
}
@media (max-width: 991px) {
     .Bottone{ width: 300px;
        
        height:150px;
}
@media (max-width: 768px) {
    .Bottone{ width: 200px;
        top: 10%;
       height:120px
    }
    .test-school{
        display:none;
    }
}
@media (max-width: 500px) {
    .Bottone{ width: 120px;
        top:10px;
       height:80px;
       right:10px;
       
       
    }
    .title-school{
        font-size: 0.7rem !important;
        margin-bottom: 0 !important;
    }
.bottone-scoprire{
    width:80px;
    font-size:0.7rem;
    height: 30px;
    margin: 0;
}

    .test-school{
        display:none;
    }
}
}
